<nav>
    <div class="actions" style="text-align: center;">
        <button routerLink="/admin">Admin</button>
        <button routerLink="/login">Ir al Login</button>
        <button routerLink="/register">Crear Cuenta</button>
        <button routerLink="/crear-objetos">Crear Objetos</button>
        <button routerLink="/home">Home</button>
    </div>
</nav> <br>
<h1 style="text-align: center;">Listar Objetos</h1>
<div class="main-layout">
    <div class="content-area">
        <div class="productos-grid">
            <div *ngFor="let p of productos" class="producto-card">

                <img [src]="p.imagen_url || 'assets/default.png'" class="img-producto">

                <div class="info">
                    <span class="badge">{{ p.categoria}}</span>

                    <h3>{{ p.nombre }}</h3>

                    <p class="precio">${{ p.precio }}</p>

                    <button class="btn btn-primary" style="margin-bottom: 20px;" (click)="verDetalle(p)">Ver Detalle</button> -
                    <button class="btn btn-success" style="margin-bottom: 20px;" (click)="agregarAlCarrito(p)">
                        🛒 Agregar
                    </button>
                    <button class="btn btn-danger" style="margin-bottom: 20px;" (click)="eliminarProducto(p.id)">Eliminar</button> -
                    <button class="btn btn-warning" style="margin-bottom: 20px;" routerLink="/modificar-objetos" (click)="irAModificar(p)" >Modificar</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="userEmail" class="cart-sidebar">
        <aside>
            <h3>🛒 Mi Carrito</h3>
            <div *ngIf="carritoItems.length === 0" class="empty-cart">
                El carrito está vacío
            </div>
            <div class="cart-item" *ngFor="let item of carritoItems">
                <div class="item-info">
                    <span class="item-name">{{ item.productos?.nombre }}</span>
                    <span class="item-qty">Cant: {{ item.cantidad }}</span>
                </div>
                <span class="item-price">${{ item.productos?.precio * item.cantidad}}</span>
                <button class="btn btn-danger" (click)="eliminarDelCarrito(item.id)">Eliminar</button>
            </div>
            <div class="cart-total" *ngIf="carritoItems.length > 0">
                <hr>
                <h3 style="text-align: center;">Total a pagar: ${{total}}</h3>
                <button class="btn-checkout" routerLink="/metodo-de-pago">Finalizar Compra</button>
            </div>
        </aside>
    </div>
</div>