<nav>
    <div class="actions" style="text-align: center;">
        <button routerLink="/admin">Admin</button>
        <button routerLink="/login">Ir al Login</button>
        <button routerLink="/register">Crear Cuenta</button>
        <button routerLink="/home">Home</button>
    </div>
    <div class="actions" style="justify-content: right inherit;">
        <button (click)="signOut()">Cerrar Sesión</button>
    </div>
</nav> <br>
<h1 style="text-align: center;">Carrito de Compras</h1>
<div class="main-layout" *ngIf="userEmail">


    <aside class="cart-sidebar">
        <h3>🛒 Mi Carrito</h3>
        <div *ngIf="carritoItems.length === 0" class="empty-cart">
            El carrito está vacío
        </div>
        <div class="cart-item" *ngFor="let item of carritoItems">
            <img style="width: 5%;" [src]="item.imagen_id || 'assets/default.png'">
            <div class="item-info">
                <span class="item-name">{{ item.productos?.nombre }}</span>
                <span class="item-qty">Cant: {{ item.cantidad }}</span>
            </div>
            <span class="item-price">${{ item.productos?.precio * item.cantidad }}</span>
            <button class="btn btn-danger" (click)="eliminarDelCarrito(item.id)">Eliminar</button>
        </div>
    </aside>
    <div class="content-area">
        <nav class="main-nav" style="flex-direction: column;">
            <p>Usuario: <strong>{{ userEmail }}</strong></p>
            <p>Nombre:<strong>{{ userEmail }}</strong></p> <br>
            <h3 style="text-align: center;">Total a pagar:<span>${{total}}</span></h3>
            <button class="btn-checkout" routerLink="/metodo-de-pago">Finalizar Compra</button>
        </nav>
    </div>
</div>